@import 'tailwindcss';

@theme {
  --color-darkestgray: #1e1e1e;
  --color-darkgray: #424242;
  --color-lightgray: #aaaaaa;
  --color-lightestgray: #f0f0f0;
  --color-primary: #0094D8;

  --dots-bg: #ffffff;
  --dots-dots: #aaaaaa;
}

[data-theme="dark"] {
  --dots-bg: #1e1e1e;
  --dots-dots: #424242;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility btn-blue {
  @apply text-white font-bold px-4 py-2 rounded-sm bg-blue-600 hover:bg-blue-500;
}

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

.select-cursor {
  cursor: url("../public/images/cursor.png"), auto;
}

.sticky-cursor {
  cursor: url("../public/images/sticky-cursor.png"), auto;
}

.dots-bg {
  background-color: var(--dots-bg);
  background-image: radial-gradient(var(--dots-dots) 10%, transparent 10%);
  background-size: 20px 20px;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

.titlebar {
  app-region: drag;

}

